%form
  .form-group
    = simple_form_for @document do |f|
      = f.input :title, class: "form-control"
      = f.input :content, input_html: {rows: 10}, class: "form-control"
      = f.button :submit, class: "btn col-md-3 bg-blue text-white"
